.git
.github
.next
.prettierrc.js
coverage
docker-compose.yml
eslint.config.js
next-static
node_modules
playwright.config.js
README.md
terraform
test-results
tmp
tsconfig.tsbuildinfo
vitest.config.js
vitest.workspace.js
